<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<img src="/IMG_5421.jpg" width=200/>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sanusha@seas.upenn.edu">Email</a></li>
	        		<li><a href="https://github.com/Nusha97">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/anusha-srikanthan-630aa013b">LinkedIn</a></li>
				</ul>
			</footer>
			
		</body>
	</html>
